*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
header{
 z-index: 999;
 background-color: rgba(255, 255, 255, 0.5);
 backdrop-filter: blur(5px);
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 25px 200px;
 transition: 0.5s ease;
}

header .brand{
 color: #F7A903;
 font-size: 1.6em;
 font-weight: 700;
 text-transform: uppercase;
 text-decoration: none;
}

header .navigation{
 position: relative;
}
header .navigation .navigation-items img{
  display: none;
 
}
header .navigation .navigation-items a{
 position: relative;
 color: black;
 font-size: 1em;
 font-weight: 500;
 text-decoration: none;
 margin-left: 30px;
 transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
 content: '';
 position: absolute;
 /* background: #fff; */
 width: 0;
 height: 3px;
 bottom: 0;
 left: 0;
 transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
 width: 100%;
}
section{
 padding: 100px 200px;
}

.home{
 position: relative;
 width: 100%;
 min-height: 90vh;
 display: flex;
 justify-content: center;
 flex-direction: column;
 background: #FFC300;
}
.home video{
 z-index: 000;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.home:before{
 z-index: 777;
 content: '';
 position: absolute;
 background: rgba(255, 195, 0 , 0.1);
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
}

.home .content{
 z-index: 888;
 background: rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(15px);
 padding: 5px;
 width: 70%;
 margin-top: 50px;
}

svg {
  position: absolute;
  /* top: 150px; */
  width: 210px;
  height: 210px;
  left: 17%;
  top: 80px;
  animation: animate 6s linear infinite;
}
.sec{
  position: absolute;
   
    width: 149px;
    height: 150px;
    left: 70%;
   
    top: 70%;
  
    animation: animate 6s linear infinite;
 
}
@keyframes animate{
  0%,100%{
    transform: translateY(-40px);
  }
  50%{
    transform: translateY(40px);
  }
}

.home .content h1{
  color: #FFC300;
 font-size: 4em;
 font-weight: 900;
 text-transform: uppercase;
 letter-spacing: 5px;
 line-height: 75px;
 margin-bottom: 40px;
}

.home .content h1 span{
  color: #FFC300;
 font-size: 1.2em;
 font-weight: 600;
}

.home .content p{
  color: #FFC300;
 margin-bottom: 65px;
}

.slider-navigation{
 z-index: 888;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: translateY(80px);
 margin-bottom: 12px;
}

.slider-navigation .nav-btn{
 width: 12px;
 height: 12px;
 background: #fff;
 border-radius: 50%;
 cursor: pointer;
 box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
 transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
 background-color: #11FA09;
 box-shadow: 0 0 15px #11FA09,
 0 0 25px #11FA09,
 0 0 40px #11FA09,
 0 0 70px #11FA09;
}

.slider-navigation .nav-btn:not(:last-child){
 margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
 transform: scale(1.2);
}

.video-slide{
 position: absolute;
 width: 100%;
 clip-path: circle(0% at 50% 50%);
}

.video-slide.active{
 clip-path: circle(170.7% at 50% 50%);
 transition: 2s ease;
 transition-property: clip-path;
}
/* reviews */
.heading{
  width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    /* font-size: 190%; */
  color: #F7A903;
  /* font-weight: 100; */
  margin-bottom: 60px;
  text-align: center;
}
.heading h2{
  color: #FFC300;
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 95px;
  margin-bottom: 40px;
}
.reviews{
position: relative;
width: 100%;
min-height: 80vh;
display: flex;
justify-content: center;
background-color: #e9ecef;
align-items: center;

overflow: hidden;

border-top: 50px solid #e9ecef;
}

.swiper-container1 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
}
 .swiper-wrapper1{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .cl{
 position: relative;
 display: flex;
 justify-content: center;
 }
.swiper-slide1{
  background-position: center;
  background-size: cover;
  width: 50%;
  /* height: 300px; */
  background: black;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  display: none;
  border-radius: 20px;
  transform-style: preserve-3d;  
  animation: slide1 .4s linear;
  margin-top: 80px;
  position: relative;
  }
  @keyframes slide1{
    0%{
      transform: rotatey(180deg);
    }
  }
.swiper-slide1.active{
  display: block;

}

iframe{
  border-radius: 10px;
  margin: 0 auto;
}
.swa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide{
  position: relative;
}
.swiper-slide:nth-child(1):after{
  content: 'Meet your designer';
 
}
.swiper-slide:nth-child(2):after{
  content: 'Book Pure Insight';
 
}
.swiper-slide:nth-child(3):after{
  content: 'Place the order';
 
}
.swiper-slide:nth-child(4):after{
  content: 'Execution and installation';
 
}
.swiper-slide:nth-child(5):after{
  content: 'Move in!';
 
}
.swiper-slide::after{
  content: 'harsh';
  position: absolute;
  right: 0px;
  bottom: 20px;
  /* height: 20px; */
  width: 100%;
  background-color: rgba(89,13,34,0.6);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 10px 0;
  color: white;
}
.testimonialBox1{
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #F7A903;
  
}
.content{
  margin-top: 20px;
}
.testimonialBox1 .quote{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  right: 30px;
  
}
.testimonialBox1 .details{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonialBox1 .details .imgbox{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.testimonialBox1 .details .imgbox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonialBox1 .details h3{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #F7A903;
  line-height: 1.1rem;
}
/* vreview */
.vreviews{
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.vrheading{
  width: 100%;
  height: 20%;
  color: #323031;
 text-align: center;
 margin-top: 40px;
}
.vrheading h2{
  color: #323031;
  font-size: 250%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 95px;
  margin-bottom: 40px;
}
.row1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}
/* .col{
  flex: 50%;
  width: 100%;
} */
.col1 {
  flex: 40%;
  width: 100%;
}
.featureImg{
  width: 80%;
  position: relative;
  margin: auto;
  

}
.featureImg img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .col-in{
  display: flex;
  background: #efefef;
  margin: 20px auto;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 85%;
  height: 80%;
} */
.col-in{
  display: none;
  flex-wrap: wrap;
  background: #ffbe0b;
  margin: 20px auto;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;
  animation: rot .2s linear;
}
@keyframes rot{
  0%{
    transform: rotateX(180deg);
  }
}

.col-in > *{
  animation: slideCont .2s linear .4s backwards;
}
@keyframes slideCont{
  0%{
    opacity: 0;
    transform: scale(.5);
  }
}
.col-in.active{
  display: flex;
}
#back-btn{
  position: relative;
    left: 25%;
    cursor: pointer;
}
#next-btn{
  position: relative;
    left: 66%;
    cursor: pointer;
}
/* .col-img{
  position: relative;
  width: 50%;
} */
.col-img {
  position: relative;
  width: 100px;
  height: 170px;
  flex: 100%;
}
.col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-bottom-left-radius: 6px; */
}
/* .col-img img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-bottom-left-radius: 6px;
} */
.col-img .play-btn{
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  cursor: pointer;
}
.col-in p{
  margin-left: 20px;
  color: black;
  line-height: 22px;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.featureImg .play-btn{
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  cursor: pointer;
}
.video-player{
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#video-player{
  display: none;
}
.video-player .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  width: 30px;
  cursor: pointer;
  margin: auto 0;
}
.rcommon{
  position: relative;
}
#my-video{
  margin-bottom: 50px;
}
/* .slide-bar{
  width: 60px;
  height: 100%;
  background: red;
} */
.vr{
  
    width: 3px;
    height: 350px;
    background-color: rgb(189, 189, 184);
    /* float: revert; */
    position: absolute;
    left: 125%;
    top: 0%;

}
/* why us */
.us-common{
  width: 100%;
  background-color: #e9ecef;
  padding: 50px;
  
}
.us-common .usheading {
  width: 100%;
  height: 20%;
  color: #323031;
  text-align: center;
  border-top: 60px solid #e9ecef;
  margin-top: -20px;
}
.u-info h3{
  font-size: 17px;
  margin-bottom: 20px;
color: #ffbe0b;
letter-spacing: 1px;
}
.usheading h2{
  color: #323031;
  font-size: 250%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 95px;
  margin-bottom: 20px;
}
.ucont{
  border-radius: 15px;
}
.u-img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323031;
  color: #ffbe0b;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 15px 0;
  
}
.u-info{
  margin: auto;
}
.svg{
  width: 150px;
  height: 150px;
}
.blob{
  width: 150px;
  height: 150px;
}
.blob-common{
  position: relative;
  overflow: hidden;
}
.blob-common svg{
  
    position: absolute;
    /* top: 150px; */
    width: 210px;
    height: 210px;
    left: 80%;
    top: -15%;
    fill: green;
    animation: animate 6s linear infinite;

}
.blob-common #sv2{
  
  position: absolute;
  /* top: 150px; */
  width: 210px;
  height: 210px;
  left: 7%;
  top: 85%;
  fill: green;
  animation: animate 6s linear infinite;

}
/* u-slider */
.u-slider{
  width: 100%;
  padding: 50px 0;
  margin-bottom: 20px;
}
.u-slider .usheading {
  width: 100%;
  height: 20%;
  color: #323031;
  text-align: center;
  margin-top: 60px;
  /* margin-top: -20px; */
}
.stage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.circle.active::after {
	content: '';
    position: absolute;
    z-index: -1;
    right: -90px;
    bottom: 20px;
    height: 2px;
    width: 70px;
    background-color: #11FA09;
 
}
.circle.active{
  background-color: #11FA09;
 
}
.stage-in{
  width: 60%;
  display: flex;
  padding: 15px;
  position: relative;
  margin-left: 5%;
}
.circle{
  display: inline-block;
  margin: 0 6.5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ff99ac;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* z-index: 99; */
}
.circle h3{
 
  text-align: center;
  margin-top: 30%;
}



.portfolio-details a {
  color: var(--primary-color);
  text-decoration: none;
}

.portfolio-details a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.portfolio-details h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

.portfolio-details img {
	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-details {
  padding-top: 40px;
  width: 50%;
  margin: 0 auto;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
  width: 62%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--primary-color);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

/* progress */
.progress-bar1{
  position: relative;
  width: 49%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.progress-bar1 .skills{
  position: relative;
  display: flex;
  margin: 10px 0;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0% ,#333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  color: #11FA09;
  transition: 0.5s;
}
.progress-bar1 .skills::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.progress-bar1 .skills .value{
  position: relative;
  width: 40px;
  text-align: left;
  color: #F7A903;
  margin-top: -2px;
  text-transform: uppercase;
}
.progress-bar1 .skills .percentage{
  position: relative;
  width: calc(100% - 80px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.progress-bar1 .skills .percentage .progress1{
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
  box-shadow: inset 0 0 2px #000;
  animation: ani 4s ease-in-out forwards;
}
@keyframes ani{
  from{
    width: 0;
  }
}
/* products */
.products1{
  width: 100%;
  height: 100%;
  background: #e9ecef;
  position: relative;
  border-bottom: 50px solid #e9ecef;
}
.prod-heading{
  width: 100%;
  border-top: 50px solid #e9ecef;
  border-bottom: 50px solid #e9ecef;
  text-align: center;
  color: #FFC300;
}
.prod-heading h2{
  color: #FFC300;
  font-size: 250%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 95px;
  
}
.prod-common{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

}
.prod-common .prod-img{
flex: 40%;
width: 100%;
height: 400px;
margin: 20px;

}
.prod-common .prod-info{
  flex: 40%;
width: 100%;
height: 400px;
margin: 20px;
/* background-color: red; */
}
.prod-common .prod-img .img-div{
  width: 90%;
  height: 90%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.prod-common .prod-img .img-div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
 cursor: pointer;
}
.prod-common .prod-img .img-div{
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.prod-common .prod-img .img-div:hover img{
 transform: scale(1.2);
}
.prod-common .prod-info .info-div{
  width: 90%;
  height: 90%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: black;
  background-color: #FFBE0B;
}
.prod-common .prod-info .info-div h2{
 
  font-size: 170%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 55px;
  
}
.prod-common .prod-info .info-div p{
 
  margin-top: 20px;
  
}
.prod-common .prod-info .info-div .prod-btn{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin-top: 50px;
  width: 30%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.prod-common .prod-info .info-div .prod-btn:hover{
  transform: scale(1.1);
}
@media (max-width: 1040px){
 header{
   padding: 12px 20px;
 }

 section{
   padding: 100px 20px;
 }

 .home .media-icons{
   right: 15px;
 }

 header .navigation{
   display: none;
 }


header .navigation.active{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(1, 1, 1, 0.5); */
}

header .navigation .navigation-items a{
  color: #F7A903;
  font-size: 1.2em;
  margin: 20px;
}

header .navigation .navigation-items a:before{
  background: #F7A903;
  height: 5px;
}

header .navigation.active .navigation-items{
 background: black;
  position: relative;
  width: 600px;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 0 5px 25px rgb(1 1 1 / 20%); */
}
header .navigation.active .navigation-items img{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}
 .menu-btn{
  background: url(menu.png)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu-btn.active{
 z-index: 999;
 background: url(close.png)no-repeat;
 background-size: 25px;
 background-position: center;
 transition: 0.1s ease;
}
}
@media (max-width: 600px){
  .prod-common .prod-img{
    flex: 100%;
    width: 100%;
    height: 400px;
    margin: 20px;
    
    }
    .prod-common .prod-info{
      flex: 100%;
    width: 100%;
    height: 500px;
    margin: 20px;
    /* background-color: red; */
    }
  .prod-common .prod-info .info-div .prod-btn{
    width: 60%;
  }
  .portfolio-details img {
    height: 250px;
    }
    .prod-common .prod-info .info-div h2{
 
      font-size: 150%;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 45px;
      
    }
  .vr{
    display: none;
  }
  .progress-bar1{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .video-player{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    cursor: pointer;
  }
  #my-video{
    margin-bottom: 0px;
    height: 30%;
  }
   .col-in p {
    flex: 100%;
    margin-left: 20px;
    color: black;
    line-height: 22px;
    font-size: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-slider .usheading {
  width: 100%;
  height: 20%;
  color: #323031;
  text-align: center;
  margin-top: 0;
  /* margin-top: -20px; */
}
.usheading h2{
  color: #323031;
    font-size: 130%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 50px;
    /* margin-bottom: 40px; */
    padding: 0 5px;
    text-align: left;
}
 .col-in {
    display: none;
    flex-wrap: wrap;
    background: #ffbe0b;
    margin: 20px auto;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 80%;
    height: 80%;
}
.col-in.active{
  display: flex;
}
 .featureImg {
    width: 90%;
    position: relative;
    margin: auto;
}
.col-img {
    position: relative;
    width: 100%;
    margin: auto;
    flex: 100%;
}
 .col-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0px;
    align-items: center;
    margin: auto;
}

  .u-img {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323031;
    color: #ffbe0b;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 15px 0;

}
.blob-common #sv2 {
  position: absolute;
  /* top: 150px; */
  width: 210px;
  height: 210px;
  left: -15%;
  top: 89%;
  fill: green;
  animation: animate 6s linear infinite;
}
.blob-common svg {
  position: absolute;
  /* top: 150px; */
  width: 210px;
  height: 210px;
  left: 60%;
  top: -12%;
  fill: green;
  animation: animate 6s linear infinite;
}
.u-img {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323031;
  color: #ffbe0b;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 0;

}
}
@media (max-width: 560px){
 .home .content h1{
   font-size: 3em;
   line-height: 60px;
 }
 #back-btn {
  position: relative;
  left: 12%;
}
.portfolio-details {
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
}
#next-btn{
  position: relative;
    left: 70%;
}
.stage-in {
  width: 100%;
  display: flex;
  padding: 15px;
  position: relative;
  margin-left: 5%;
}
.circle {
  display: inline-block;
  margin: 0 3.5%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #ff99ac;
  position: relative;
  /* z-index: 99; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle.active::after {
	content: '';
    position: absolute;
    right: -50px;
    bottom: 20px;
    height: 2px;
    width: 70px;
    background-color: #11FA09;
  
}
 .heading{
  width: 110%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    /* font-size: 100%; */
  color: #F7A903;
  text-align: left;
}
.heading h2{
  
    color: #FFC300;
    font-size: 150%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    /* margin-bottom: 40px; */
    padding: 0 5px;
}
.prod-heading h2{
  color: #FFC300;
  font-size: 150%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
 
  padding: 0 5px;
}
.vrheading{
  width: 100%;
  height: 20%;
  color: #323031;
 text-align: left;
 margin-top: 40px;
}
.vrheading h2{
  color: #323031;
  font-size: 150%;
    font-weight: 500;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    line-height: 50px;
    /* margin-bottom: 40px; */
    padding: 0 5px;
}
.home .content {
  z-index: 888;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 5px;
  width: 95%;
  margin-top: 50px;
}
.swiper-slide1 {
  background-position: center;
  background-size: cover;
  width: 80%;
  /* height: 300px; */
  background: black;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  display: none;
  border-radius: 20px;
  transform-style: preserve-3d;  
  animation: slide1 .4s linear;
  margin-top: 80px;
  }
  svg{
    position: absolute;
      /* top: 150px; */
      width: 200px;
      height: 200px;
      left: 57%;
      top: 60px;
      
     animation: animate 6s linear infinite;
  }
  .sec {
    position: absolute;
    /* top: 150px; */
    width: 149px;
    height: 150px;
    left: -17%;
    /* right: 5%; */
    /* bottom: 10px; */
    top: 80%;
   
    animation: animate 6s linear infinite;
}
  @keyframes animate{
    0%,100%{
      transform: translateY(-20px);
    }
    50%{
      transform: translateY(40px);
    }
  }
  .swiper-container1 {
   
    margin-top: 70px;
}
.col1{
  flex: 100%;
  width: 100%;
}
}