*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main-heading{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 60px;
}

.card{
    text-align: center;
    margin: 0 auto; 
    float: none; 
    margin-top: 10px;
    margin-bottom: 10px; 
    overflow: hidden; 
}
.card-title{
    font-weight: bold;
}
.card img {
    transition: transform .5s ease;
}
.card img:hover {
    transform: scale(1.5);
}